.searchBlock {
  padding: 0 15px;
  border: 1px solid #F3F3F3;
  border-radius: 10px;

  input {
    width: 200px;
    font-size: 16px;
    padding: 13px;
    border: none;
  }
}

.removeBtn {
  width: 20px;
  height: 20px;
}